*html 

img{
    max-width: 50% ;
}

#introduction {
    font-size: 2rem;
}

.color{
 color:rgb(255, 0, 0);
 margin: 5px;
 padding: 10px;

}

.news {
    width: 20%
}

.news-container {
    display: flex;
    justify-content: space-evenly;
    }
    

    .news h2 {
        margin-bottom: 10px;
    }